.checkerboard {
    width: 100%;
    height: 100%;
    background: #BFBFBF url('../../../res/assets/checkerboard.svg');
    background-size: 16px 16px;
}

.drag-container {
    position: relative;
    width: 500px;
    height: 200px;
}

.knob {
    z-index: 1;
    position: absolute;
    width: 10px;
    height: 10px;
    margin-left: -7px;
    margin-top: -7px;
    border: 2px solid white;
}