@tailwind base;

@tailwind components;

@tailwind utilities;

.color-picker-container {
    width: 500px;
    height: 500px;
    background: #BFBFBF url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" ><rect x="8" width="8" height="8" fill="white" /><rect y="8" width="8" height="8" fill="white" /></svg>');
    background-size: 16px 16px;
}

.color-picker-container svg {
    width: 100%;
    height: 100%;
}

.btn {
    @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
    @apply bg-blue-500 text-white;
}
.btn-blue:hover {
    @apply bg-blue-600;
}

body {
    @apply font-sans
}